---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: relintdockerhubpushbot/cf-deployment-concourse-tasks
    tag: v5

inputs:
  - name: bosh-deployment

params:
  BBL_GCP_SERVICE_ACCOUNT_KEY: replace-me
  BBL_IAAS: gcp
  BBL_GCP_REGION: replace-me

run:
  path: bosh-deployment/ci/tasks/test-bosh-lite-gcp.sh
