---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: bosh/warden-cpi

inputs:
  - name: bosh-deployment
  - name: stemcell

run:
  path: bosh-deployment/ci/tasks/test-main-bosh-lite.sh

params:
  container_limits:
    cgroupns_mode: host
