---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: bosh/docker-cpi

inputs:
  - name: bosh-deployment
  - name: stemcell

params:
  CPI_OPS_FILE: aws/use-jammy.yml
  STEMCELL_NAME: aws-ubuntu-jammy-stemcell

outputs:
  - name: bosh-deployment
    path: bosh-deployment-output

run:
  path: bosh-deployment/ci/tasks/update-stemcell.sh