- name: cpi
  path: /releases/-
  type: replace
  value:
    name: bosh-docker-cpi
    sha1: 6154f5216470073f725a3278a66addc26743a540
    url: https://bosh.io/d/github.com/cloudfoundry/bosh-docker-cpi-release?v=0.1.0
    version: 0.1.0
- name: stemcell
  path: /resource_pools/name=vms/stemcell?
  type: replace
  value:
    sha1: fbefa7b6306fa2d9dde1ac3db72814a664c88d9d
    url: https://storage.googleapis.com/bosh-core-stemcells/1.103/bosh-stemcell-1.103-warden-boshlite-ubuntu-noble.tgz
- path: /networks/name=default/subnets/0/cloud_properties?
  type: replace
  value:
    name: ((network))
- path: /resource_pools/name=vms/cloud_properties?
  type: replace
  value:
    ports:
    - 22/tcp
    - 6868/tcp
    - 25555/tcp
    - 4222/tcp
    - 25250/tcp
    - 8443/tcp
    - 8080/tcp
- path: /instance_groups/name=bosh/jobs/-
  type: replace
  value:
    name: docker_cpi
    release: bosh-docker-cpi
- path: /instance_groups/name=bosh/properties/director/cpi_job?
  type: replace
  value: docker_cpi
- path: /cloud_provider/template?
  type: replace
  value:
    name: docker_cpi
    release: bosh-docker-cpi
- path: /instance_groups/name=bosh/properties/docker_cpi?
  type: replace
  value:
    agent:
      blobstore: null
      mbus: nats://((internal_ip)):4222
    docker:
      host: ((docker_host))
      tls: ((docker_tls))
    start_containers_with_systemd: true
- path: /cloud_provider/properties/docker_cpi?
  type: replace
  value:
    agent:
      mbus: https://mbus:((mbus_bootstrap_password))@0.0.0.0:6868
    docker:
      host: ((docker_host))
      tls: ((docker_tls))
