- name: stemcell
  path: /resource_pools/name=vms/stemcell?
  type: replace
  value:
    sha1: e9b52625f15e5e36f791b9ca993f29c94897d6dd
    url: https://storage.googleapis.com/bosh-core-stemcells/1.1028/bosh-stemcell-1.1028-warden-boshlite-ubuntu-jammy-go_agent.tgz
