- name: stemcell
  path: /resource_pools/name=vms/stemcell?
  type: replace
  value:
    sha1: eb5a6e168486876fedc5c5ee1ef8b6252f234b82
    url: https://storage.googleapis.com/bosh-core-stemcells/1.1044/bosh-stemcell-1.1044-warden-boshlite-ubuntu-jammy-go_agent.tgz
