- name: stemcell
  path: /resource_pools/name=vms/stemcell?
  type: replace
  value:
    sha1: 961e0da61f5d60c65382471557c77232745a11a4
    url: https://storage.googleapis.com/bosh-core-stemcells/1.1033/bosh-stemcell-1.1033-warden-boshlite-ubuntu-jammy-go_agent.tgz
