- name: stemcell
  path: /resource_pools/name=vms/stemcell?
  type: replace
  value:
    sha1: 68f0c58d6012bf1e27f78513ccb72474e25e19c0
    url: https://storage.googleapis.com/bosh-core-stemcells/1.1016/bosh-stemcell-1.1016-warden-boshlite-ubuntu-jammy-go_agent.tgz
