- name: stemcell
  path: /resource_pools/name=vms/stemcell?
  type: replace
  value:
    sha1: 821c942a310a439072548506a1aeee1a328ad7fd
    url: https://storage.googleapis.com/bosh-core-stemcells/1.1015/bosh-stemcell-1.1015-warden-boshlite-ubuntu-jammy-go_agent.tgz
