- name: stemcell
  path: /resource_pools/name=vms/stemcell?
  type: replace
  value:
    sha1: 9eac966ebab995bdacffc455c3bd09540ae64585
    url: https://storage.googleapis.com/bosh-core-stemcells/1.999/bosh-stemcell-1.999-warden-boshlite-ubuntu-jammy-go_agent.tgz
